.domain-page {
  /* min-height: 100vh; */
  padding: 140px 8%;
  background: linear-gradient(180deg, black, black);
  text-align: center;
  color: white;
}

.domain-heading {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.8rem;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #d4af37, #f5e6b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.domain-count {
  font-size: 16px;
  margin-bottom: 60px;
  color: #ccc;
}

.domain-count span {
  color: #d4af37;
  font-weight: bold;
}

/* Grid Layout */
.domain-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
}

/* Card Design */
.domain-card {
  background: rgba(8, 8, 8, 0.04);
  border: 1px solid rgba(212, 175, 55, 0.25);
  border-radius: 20px;
  padding: 20px;
  backdrop-filter: blur(15px);
  transition: all 0.4s ease;
  cursor: pointer;
}

.domain-card:hover {
  transform: translateY(-10px);
  border: 1px solid rgba(212, 175, 55, 0.5);
  box-shadow: 0 20px 60px rgba(212, 175, 55, 0.2);
}

.domain-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.domain-card h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.1rem;
  color: #f5e6b3;
}